<%- include("../template/cabeza.ejs",{tituloWeb:'mascota'});   %>
    <div class="container">
    
        <h1>Detalle Mascota</h1>
      
        <% if (error) { %>
            <p><%= mensaje %></p>
            <a href="/mascotas" class="btn btn-outline-success d-grid gap-2 my-4">Volver</a>
        <% } %>
    
        <% if (!error) { %>
            <table class="table">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripción</th>
                    <th scope="col">Acción</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row"><%= mascota.id %></th>
                        <td><%= mascota.nombre %> </td>
                        <td><%= mascota.descripcion %></td>
                        <td>
                            <button data-id="<%= mascota.id %>" id='btnEliminar' class="btn btn-outline-danger btn-sm">Eliminar</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        <% } %>
         
      </div>
        
<%- include("../template/footer.ejs");  %> 

<script>
    const btnEliminar=document.getElementById('btnEliminar')
    btnEliminar.addEventListener('click',async()=>{
        const id=btnEliminar.dataset.id
        try{
          const data=await fetch('/mascotas/id')
        }catch(erro){
            console.log('hola',error)
        }
    })
</script>