<%- include("../template/cabeza.ejs",{tituloWeb:'Pagina de inicio'});  %> 

  <h1><%= Listatienda %> </h1>
<div class="container">
   <br>
<table class="table">
    <thead>
      <tr class="table-dark">
        <th scope="col">#</th>
        <th scope="col">Producto</th>
        <th scope="col">Descripcion</th>
        <th scope="col">precio</th>
        <th scope="col">Accion</th>
      </tr>
    </thead>
 <tbody>
      
   
    <% if (arrayTienda.length>0) { %>
       <% arrayTienda.forEach(tienda => { %>
        <tr class="table-info">
            <td ><%= tienda.id %> </td>
            <td><%= tienda.producto %> </td>
            <td><%= tienda.descripcion %> </td>
            <td><%= tienda.precio %> </td>
            <td>AEA </td>
          </tr>
       <% }) %>
    <% } %>
 </tbody>
</table> 
</div> 
<%- include("../template/footer.ejs");  %>    
    
